// Default Theme Color Palette Everforest
// Red
$red-light: #E67E80;
$red-dark: #db7375;

// Pink (missing on evereforset picked from gruvbox)
$pink-light: #d3869b;
$pink-dark: #b16286;


// Purple
$purple-light: #D699B6;
$purple-dark: #cb8eab;

// Blue
$blue-light: #7FBBB3;
$blue-dark: #74b0a8;

// Teal -> aqua in Everforest
$teal-light: #83C092; 
$teal-dark: #78b587;

// Green
$green-light: #A7C080;
$green-dark: #9cb575;

// Yellow
$yellow-light: #DBBC7F;
$yellow-dark: #d0b174;

// Orange
$orange-light: #E69875;
$orange-dark: #db8d6a;



// Grey
$grey-050: #f8fafc;
$grey-100: #f0f1f4;
$grey-150: #eaecf0;
$grey-200: #d9dce3;
$grey-250: #c4c9d4;
$grey-300: #b5bcc9;
$grey-350: #929cb0;
$grey-400: #8e99ae;
$grey-450: #74819a;
$grey-500: #616d85;
$grey-550: #464f62;
$grey-600: #3a4150;
$grey-650: #333a47;
$grey-700: #242932;
$grey-750: #1e222a;
$grey-800: #1c1f26;
$grey-850: #0f1115;
$grey-900: #0d0e11;
$grey-950: #020203;
/*
$grey-050: #fffbef;
$grey-100: #f2eee2;
$grey-150: #e5e1d5;
$grey-200: #d8d4c8;
$grey-250: #cbc7bb;
$grey-300: #bebaae;
$grey-350: #b1ada1;
$grey-400: #a4a094;
$grey-450: #979387;
$grey-500: #8a867a;
$grey-550: #7d796d;
$grey-600: #706c60;
$grey-650: #635f53;
$grey-700: #565246;
$grey-750: #494539;
$grey-800: #3c382c;
$grey-850: #2f2b1f;
$grey-900: #221e12;
$grey-950: #151105;
*/  

// White
$white: #ffffff;

// Black
$black: #000000;

// Button
$button-close: if($variant == 'light', #E67E80, #ff9c9e);
$button-max: if($variant == 'light', #93ac6c, #b6cf8f);
$button-min: if($variant == 'light', #d6b77a, #eacb8e);

// Link
$links: #5bbae3;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
