// Default Theme Color Palette Everforest
// Red
$red-light: #E67E80;
$red-dark: #f85552;

// Pink (missing on evereforset picked from gruvbox)
$pink-light: #d3869b;
$pink-dark: #b16286;

// Purple
$purple-light: #D699B6;
$purple-dark: #df69ba;

// Blue
$blue-light: #7fbbb3;
$blue-dark: #3a94c5;

// Teal (aqua)
$teal-light: #83C092;
$teal-dark: #35a77c;

// Green
$green-light: #A7C080;
$green-dark: #8da101;

// Yellow
$yellow-light: #DBBC7F;
$yellow-dark: #dfa000;

// Orange
$orange-light: #E69875;
$orange-dark: #f57d26;

// Grey
$grey-050: #fdf6e3;
$grey-100: #f4f0d9;
$grey-150: #efebd4;
$grey-200: #e6e2cc;
$grey-250: #e0dcc7;
$grey-300: #b9c0ab;
$grey-350: #9da9a0;
$grey-400: #859289;
$grey-450: #7a8478;
$grey-500: #56633f;
$grey-550: #495156;
$grey-600: #414b50;
$grey-650: #343f44;
$grey-700: #2d353b;
$grey-750: #272e33;
$grey-800: #232a2e;
$grey-850: #1e2326;
$grey-900: #0d0e11;
$grey-950: #020203;

// White
$white: #fffbef;

// Black
$black: #1e2326;

// Button
$button-close: if($variant == 'light', #e67e80, #ff9c9e);
$button-max: if($variant == 'light', #93ac6c, #b6cf8f);
$button-min: if($variant == 'light', #d6b77a, #eacb8e);

// Link
$links: #5bbae3;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
