// Default Theme Color Palette

// Red
$red-light: #f28779;
$red-dark: #ff6666;

// Pink
$pink-light: #ffa6f0;
$pink-dark: #cc7ac8;

// Purple
$purple-light: #d2a6ff;
$purple-dark: #a37acc;

// Blue
$blue-light: #73d0ff;
$blue-dark: #73b8ff;

// Teal
$teal-light: #95e6cb;
$teal-dark: #4cbf99;

// Green
$green-light: #87d96c;
$green-dark: #7fd962;

// Yellow
$yellow-light: #ffcc66;
$yellow-dark: #e6b450;

// Orange
$orange-light: #ffad66;
$orange-dark: #ff8f40;
// Grey
$grey-050: #fcfcfc;
$grey-100: #f3f3f4;
$grey-150: #efeff0;
$grey-200: #dcdddf;
$grey-250: #cacbce;
$grey-300: #bcbec1;
$grey-350: #9b9da2;
$grey-400: #999ba0;
$grey-450: #7f8289;
$grey-500: #6a6d75;
$grey-550: #4a4e58;
$grey-600: #3a3f49;
$grey-650: #30343f;
$grey-700: #1f2430;
$grey-750: #191d27;
$grey-800: #171b24;
$grey-850: #0c0e13; 
$grey-900: #0a0c10;
$grey-950: #020203;

// White
$white: #FFFFFF;

// Black
$black: #000000;

// Button
$button-close: #ff8f40;
$button-max: #59c2ff;
$button-min: #6c7a8b;

// Theme
$default-light: $yellow-light;
$default-dark: $yellow-dark;
