
// Theme ColorScheme palette: default/nord/dracula
@import 'color-palette-default';

$colorscheme: 'default';

// Color type
$colortype: 'system'; // system/fixed : use system colors / use theme colors

// transparent opacity
$opacity: 'default';

// Theme primary color
$theme: 'default';

// Theme size
$compact: 'false';

// Theme translucent
$translucent: 'false';

// Panel translucent opacity
$panel_opacity: 1.0;

// Blackness style
$blackness: 'false';

// Windows outline style
$rimless: 'false';

// Windows button style : mac/normal
$window_button: 'mac';

// Gnome-Shell float panel version
$float: 'false';

// Gnome-Shell version
$gnome_version: 'default';
