
// Theme ColorScheme palette: default/nord
@import 'color-palette-default';

$colorscheme: 'default';

// transparent opacity
$opacity: 'default';

// Theme primary color
$theme: 'default';

// Theme size
$compact: 'false';

// Theme translucent
$translucent: 'false';

// Panel translucent opacity
$panel_opacity: 1.0;

// Blackness style
$blackness: 'false';

// Windows outline style
$rimless: 'false';

// Windows button style : mac/normal
$window_button: 'mac';
