@import 'tweaks-temp';

$asset-suffix: if($variant == 'dark', '-dark', '');

//
// Sizes
//

$space-size: if($compact == 'false', 6px, 4px);

$small-size: if($compact == 'false', 24px, 22px);
$medium-size: if($compact == 'false', 34px, 30px);
$large-size: if($compact == 'false', 46px, 38px);

$menuitem-size: if($compact == 'false', 28px, 24px);

$root-font-size: if($compact == 'false', 14px, 13px);

//
// Radiuses
//

$modal-radius: 6px;
$corner-radius: 6px;
$menu-radius: $corner-radius + $space-size;
$window-radius: $corner-radius + $space-size;
$circular-radius: 9999px;

//
// Durations
//

$duration: 75ms;
$ripple-fade-in-duration: 225ms;
$ripple-fade-out-duration: 300ms;
$ripple-fade-out-opacity-duration: 1200ms;

//
// Timing functions
//

$ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-in: cubic-bezier(0.4, 0.0, 1, 1);
$ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1);

//
// Transition shorthands
//

$transition: all $duration $ease-out;
$transition-shadow: box-shadow 200ms ease-out;

//
// Shadows
//

$shadow-z1:
  0 2px 3px -2px rgba(black, 0.3),
  0 1px 2px -1px rgba(black, 0.24),
  0 1px 2px -1px rgba(black, 0.17);
$shadow-z2:
  0 4px 3px -3px rgba(black, 0.2),
  0 2px 2px -1px rgba(black, 0.24),
  0 1px 3px 0 rgba(black, 0.12);
$shadow-z3:
  0 3px 3px -2px rgba(black, 0.05),
  0 2px 3px -1px rgba(black, 0.06),
  0 1px 4px 0 rgba(black, 0.05);
$shadow-z4:
  0 1px 2px 0 rgba(black, 0.15),
  0 3px 3px 0 rgba(black, 0.18),
  0 3px 6px 0 rgba(black, 0.12);
$shadow-z5:
  0 2px 3px -1px rgba(black, 0.05),
  0 4px 6px 0 rgba(black, 0.06),
  0 1px 10px 0 rgba(black, 0.05);
$shadow-z6:
  0 2px 3px -1px rgba(black, 0.1),
  0 4px 6px 0 rgba(black, 0.12),
  0 1px 10px 0 rgba(black, 0.1);
$shadow-z12:
  0 7px 5px -4px rgba(black, 0.2),
  0 12px 10px 2px rgba(black, 0.14),
  0 5px 13px 4px rgba(black, 0.12);
$shadow-z16:
  0 1px 3px 0 rgba(black, 0.2),
  0 15px 16px 2px rgba(black, 0.14),
  0 6px 18px 5px rgba(black, 0.12);
