*-temp.scss
src/main/gtk-3.0/gtk.css
src/main/gtk-3.0/gtk-Light.css
src/main/gtk-3.0/gtk-Dark.css
src/main/gtk-4.0/gtk.css
src/main/gtk-4.0/gtk-Light.css
src/main/gtk-4.0/gtk-Dark.css
src/main/gnome-shell/gnome-shell.css
src/main/gnome-shell/gnome-shell-Light.css
src/main/gnome-shell/gnome-shell-Dark.css
src/main/cinnamon/cinnamon.css
src/main/cinnamon/cinnamon-Light.css
src/main/cinnamon/cinnamon-Dark.css
release/Colloid-Catppuccin.tar.xz
release/Colloid-Dracula.tar.xz
release/Colloid-Everforest.tar.xz
release/Colloid-Gruvbox.tar.xz
release/Colloid-Nord.tar.xz
release/Colloid.tar.xz
src/main/libadwaita/libadwaita-Dark.css
src/main/libadwaita/libadwaita-Light.css
src/main/libadwaita/libadwaita.css
