$variant: 'light';
$topbar: 'light';

@import '../../sass/colors';
@import '../../sass/libadwaita/palette';
@import '../../sass/libadwaita/functions';
@import '../../sass/libadwaita/variables';
@import '../../sass/libadwaita/colors';
@import '../../sass/libadwaita/drawing';
@import '../../sass/libadwaita/common';
@import '../../sass/gtk/defaults';
@import '../../sass/libadwaita/compat-colors';
