@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #242424;

		/* Accent */
		--gnome-accent-bg: #3584e4;
		--gnome-accent: #78aeed;

		/* Toolbars */
		--gnome-toolbar-background: #2c2c2c;
		--gnome-toolbar-color: #ffffff;
		--gnome-toolbar-border-color: rgba(255, 255, 255, .15);
		--gnome-toolbar-icon-fill: #eeeeee;
		--gnome-inactive-toolbar-color: #919191;
		--gnome-inactive-toolbar-background: var(--gnome-toolbar-background);
		--gnome-inactive-toolbar-border-color: #3F3F3F;
		--gnome-inactive-toolbar-icon-fill: #919191;

		/* Sidebar */
		--gnome-sidebar-background: var(--gnome-toolbar-background);
		--gnome-inactive-sidebar-background: var(--gnome-sidebar-background);

		/* Menus */
		--gnome-menu-background: #383838;
		--gnome-menu-border-color: rgba(0, 0, 0, .65);
		--gnome-menu-shadow: 0 1px 5px 1px rgba(0,0,0, .09),
		                     0 2px 14px 3px rgba(0,0,0, .05),
		                     inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		--gnome-menu-button-hover-background: var(--gnome-button-background);
		--gnome-menu-separator-color: rgba(255, 255, 255, .1);

		/* Header bar */
		--gnome-headerbar-background: #242424;
		--gnome-headerbar-border-color: var(--gnome-toolbar-border-color);
		--gnome-inactive-headerbar-background: #2c2c2c;
		--gnome-inactive-headerbar-border-color: var(--gnome-inactive-toolbar-border-color);

		/* Buttons */
		--gnome-button-background: rgba(255, 255, 255, .1);
		--gnome-button-hover-background: rgba(255, 255, 255, .15);
		--gnome-button-active-background: rgba(255, 255, 255, .3);
		--gnome-button-flat-hover-background: rgba(255, 255, 255, .07);
		--gnome-button-flat-active-background: rgba(255, 255, 255, .1);
		--gnome-button-suggested-action-background: var(--gnome-accent-bg);
		--gnome-button-destructive-action-background: #e01b24;

		--gnome-button-close-background: var(--gnome-button-flat-hover-background);
		--gnome-button-hover-close-background:var(--gnome-button-hover-background);
		--gnome-button-active-close-background: var(--gnome-button-active-background);

		/* TitleButtons */
		--gnome-titlebutton-min-background: #fdbe04;
		--gnome-titlebutton-max-background: #38c76a;
		--gnome-titlebutton-close-background: #fd5f51;
		--gnome-titlebutton-min-hover-background: #fdbe04;
		--gnome-titlebutton-max-hover-background: #38c76a;
		--gnome-titlebutton-close-hover-background: #fd5f51;
		--gnome-titlebutton-min-active-background: #fdcd43;
		--gnome-titlebutton-max-active-background: #6ad48e;
		--gnome-titlebutton-close-active-background: #fb857c;

		/* Entries */
		--gnome-entry-background: rgba(255, 255, 255, .08);
		--gnome-entry-color: #ffffff;
		--gnome-inactive-entry-color: #d6d6d6;
		--gnome-focused-urlbar-border-color: rgba(120, 174, 237, .5); /* Same as --gnome-accent but with opacity*/
		--gnome-urlbarView-shadow: 0 1px 5px 1px rgba(0,0,0, .2),
		                           0 2px 14px 3px rgba(0,0,0, .15),
		                           0 0 0 1px rgba(0, 0, 0, 0.75);

		/* Switch */
		--gnome-switch-background: rgba(255, 255, 255, .15);
		--gnome-switch-slider-background: #d2d2d2;
		--gnome-switch-active-background: var(--gnome-accent-bg);
		--gnome-switch-active-slider-background: #ffffff;

		/* Tabs */
		--gnome-tabbar-tab-background: #2c2c2c;
		--gnome-tabbar-tab-border-color: var(--gnome-toolbar-border-color);
		--gnome-tabbar-tab-hover-background: #363636;
		--gnome-tabbar-tab-active-background: #404040;
		--gnome-tabbar-tab-active-background-contrast: #4F4F4F;
		--gnome-tabbar-tab-active-hover-background: #444444;
		--gnome-inactive-tabbar-tab-background: #2c2c2c;
		--gnome-inactive-tabbar-tab-active-background: #323232;
		--gnome-tab-button-background: rgba(0, 0, 0, .5);
		--gnome-tab-button-hover-background: rgba(0, 0, 0, .6);
		--gnome-tabbar-tab-identity-base-opacity: 0;
		--gnome-tabbar-tab-needs-attetion: #78aeed;
	}

	/* Private window colors */
	:root {
		--gnome-private-accent: #71A1DB;

		/* Toolbars */
		--gnome-private-toolbar-background: #1C2438;
		--gnome-private-inactive-toolbar-background: var(--gnome-private-toolbar-background);
		/* Menus */
		--gnome-private-menu-background: #252F49;
		/* Header bar */
		--gnome-private-headerbar-background: #252F49;
		--gnome-private-inactive-headerbar-background: var(--gnome-private-toolbar-background);

		/* Text color for Firefox Logo in new private tab */
		--gnome-private-wordmark: #FBFBFE;

		/* New private tab background */
		--gnome-private-in-content-page-background: #1C2438;

		/* Private browsing info box */
		--gnome-private-text-primary-color: #FBFBFE;
	}
}
