//
// Console
//

.exit-info {
  padding: 6px;
  border-top: 2px solid $primary;
  background: rgba($primary, 0.9);
  color: on($primary);
}

.error .exit-info {
  border-top: 2px solid $error;
  background: rgba($error, 0.9);
  color: on($error);
}