//
// Nautilus
//
.floating-bar {
  min-height: 32px;
  padding: 0;
  margin: if($gnome_version == 'default', $base_padding, $base_padding / 2);
  border-style: none;
  border-radius: $button_radius;
  background-color: $accent_bg_color;
  color: $accent_fg_color;
  box-shadow: $shadow-z3;

  button {
    margin: (32px - $small_size) / 2;
    color: $accent_fg_color;

    @extend %small_button;
  }
}

.nautilus-list-view {
  columnview.view {
    padding: 0;

    > header > button {
      border-top: 1px solid $border_color;

      &:last-child {
        padding-right: 24px;
      }
    }
  }

  listview.view {
    padding: $base_padding;
    margin: 0;
    border-spacing: $base_padding / 2;

    > row {
      margin: 0;

      > cell {
        padding: $base_padding - 2px;

        &:last-child {
          padding-right: 24px;
        }
      }
    }

    #NautilusViewCell {
      padding: 0;

      button.star.circular {
        margin: 0;
        min-height: 24px;
        min-width: 24px;
        padding: $base_padding / 2;
        border-radius: $circular_radius;
      }
    }
  }
}

#NautilusQueryEditor { // search entry
  > menubutton {
    margin: $base_padding 0;

    > button.image-button {
      min-width: 24px;
      min-height: 24px;
      padding: $medium_size / 2 - $base_padding - 12px;
    }
  }
}

#NautilusPathBar {
  background-color: gtkalpha(currentColor, 0.05);
  border-radius: $button_radius;
  padding: 0;

  @if $colorscheme != 'default' or $blackness == 'true' or $colortype == 'fixed' {
    color: $window_fg_color;
  }
}

#NautilusPathButton {
  margin: 0;
  border-radius: $button_radius;
  @extend %button_basic_flat;

  @if $colorscheme != 'default' or $blackness == 'true' or $colortype == 'fixed' {
    @extend %header_button_reset;
  }
}

list.operations-list {
  background: none;

  > row {
    &, &:hover, &:active, &:focus, &:selected {
      background: none;
      transition: none;
      animation: none;
    }
  }
}

button.image-button.star {
  min-height: 24px;
  min-width: 24px;
  padding: ($medium_size - 24px) / 2;
  border-radius: $button_radius;
}