//
// Amberol
//

playlistview {
  scrollbar {
    &.overlay-indicator {
      &.dragging,
      &.hovering { background-color: transparent; }
    }
  }

  queuerow {
    picture.cover,
    image.card { border: none; }
  }
}

//
// Theme Selectors
//

themeselector, // Gnome text editor
panelthemeselector { // Gnome builder
  margin: $base_padding * 1.5;

  checkbutton {
    padding: 0;
    min-height: 44px;
    min-width: 44px;
    padding: 1px;
    background-clip: content-box;
    border-radius: $circular_radius;
    box-shadow: inset 0 0 0 1px $border_color;

    &.follow:checked,
    &.light:checked,
    &.dark:checked {
      box-shadow: inset 0 0 0 2px $accent_bg_color;
    }

    &.follow {
      background-image: linear-gradient(to bottom right, #ffffff 50%, #202020 50%);
    }

    &.light {
      background-color: #ffffff;
    }

    &.dark {
      background-color: #202020;
    }

    &.theme-selector radio {
      -gtk-icon-source: none;
      border: none;
      box-shadow: none;
      min-height: 20px;
      min-width: 20px;
      padding: 0;

      &, &:hover, &:active, &:checked {
        background-color: transparent;
        background-image: none;
      }

      &:checked {
        -gtk-icon-size: 20px;
        -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/checkbox-checked-symbolic.svg")), -gtk-recolor(url("assets/checkbox-checked-symbolic@2.svg")));

        &, &:hover, &:active {
          color: $accent_fg_color;
          background-color: $accent_bg_color;
          box-shadow: 0 2px 3px -1px rgba(black, 0.08), 0 1px 2px 0 rgba(black, 0.1);
        }
      }
    }
  }
}

popover.menu themeswitcher { // Gnome console
  padding: $base_padding;

  .check {
    min-height: 20px;
    min-width: 20px;
    background: none;
    padding: 0;
    margin: 0;
    border-radius: $circular_radius;
    color: $accent_fg_color;
    background-color: $accent_bg_color;

    &, &:hover, &:active {
      box-shadow: 0 2px 3px -1px rgba(black, 0.08), 0 1px 2px 0 rgba(black, 0.1);
    }
  }

  checkbutton {
    padding: 0;
    min-height: 44px;
    min-width: 44px;
    padding: 1px;
    border: none;
    background-clip: content-box;
    border-radius: $circular_radius;
    box-shadow: inset 0 0 0 1px $border_color;

    &:checked {
      box-shadow: inset 0 0 0 2px $accent_color;
    }

    radio {
      padding: 0;
      border: none;

      &,
      &:hover,
      &:active,
      &:checked,
      &:indeterminate {
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        color: transparent;
      }

      &:checked, &:indeterminate {
        -gtk-icon-source: none;
        -gtk-icon-size: 0;
      }
    }

    &.system {
      background: linear-gradient(-45deg, #1e1e1e 50%, white 50%);
    }

    &.light {
      color: gtkalpha(black, .8);
      background-color: white;
    }

    &.dark {
      color: white;
      background-color: #1e1e1e;
    }
  }
}

//
// NG (DING)
//

window#desktopwindow.background {
  background: none;
}
