$dash_background_color: on(dark, divider);
$dash_placeholder_size: 32px;
$dash_padding: 10px; // 10px
$dash_spacing: 2px;
$dash_bottom_margin: 16px;
$dash_border_radius: $icon_radius + $dash_padding - $dash_spacing;

#dash {
  margin-top: $base_spacing * 2;

  .placeholder {
    background-image:none;
    background-size: contain;
    height: $dash_placeholder_size;
  }

  .overview-icon {
    padding: $dash_padding / 2;
  }
}

.dash-background {
  background-color: $dash_background_color;
  margin-bottom: $dash_bottom_margin;
  padding: $dash_padding $dash_padding - $dash_spacing;
  border-radius: $dash_border_radius;
  box-shadow: inset 0 1px rgba(white, 0.08);
}

// Dash Items
.dash-item-container {
  margin: 0 $dash_spacing;

  > * { margin: 0; }

  .app-well-app, .show-apps {
    padding: $dash_padding 0 $dash_padding + $dash_bottom_margin;
  }
}

.dash-separator {
  width: 1px;
  margin: 0 ($dash_spacing + ($dash_padding / 2)) $dash_bottom_margin;
  background-color: on(dark, divider);
}
