/* Entries */

StEntry, %entry {
  padding: $base_padding $base_padding * 2;
  margin: $base_margin / 2;
  border-width: 0;
  border-radius: $base_radius;
  color: $text;
  caret-color: $text;
  selection-background-color: $primary;
  selected-color: $primary-text;
  @include entry(normal);
  &:hover { @include entry(hover);}
  &:focus { @include entry(focus);}
  &:insensitive { @include entry(insensitive);}
  StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: $warning;
    padding: 0 0;
  }
  StIcon.peek-password {
    icon-size: 16px;
    padding: 0 4px;
  }
  StLabel.hint-text {
    margin-left: 2px;
    color: $text-disabled;
  }
}
