/* Looking Glass */

// Dialog
#LookingGlassDialog {
  background-color: $base;
  padding: 0;
  spacing: $base_padding;
  margin: $base_padding;
  border-radius: $window_radius;
  box-shadow: 0 3px 8px 0 rgba(black, 0.25);
  color: $text;

  @if $rimless == 'false' {
    border: 1px solid $window-border;
  } @else { border: none; }

  & > #Toolbar {
    padding: 0 $base_padding;
    border: none;
    border-radius: $window_radius $window_radius 0 0;
    background-color: $fill;
    box-shadow: inset 0 -1px 0 $border;
    spacing: $base_padding;
  }

  .labels { 
    spacing: $base_padding;
  }

  .notebook-tab {
    -natural-hpadding: $base_padding*2;
    -minimum-hpadding: $base_padding*2;
    font-weight: bold;
    color: $text-disabled;
    padding-left: 16px;
    padding-right: 16px;
    min-height: $item_size;
    padding: $base_padding / 2 $base_padding * 5;
    transition-duration: 100ms;
    border: none;
    background-color: transparent;
    border-radius: 0;

    &:hover {
      background-color: $fill;
      color: $text;
      text-shadow: none;
    }

    &:selected {
      border-color: transparent;
      background-color: $divider;
      box-shadow: inset 0 -2px 0px $indicator;
      color: $text;
      text-shadow: none;
    }
  }

  StBoxLayout#EvalBox { padding: 4px; spacing: $base_padding; padding: $base_padding; }
  StBoxLayout#ResultsArea { spacing: $base_padding; padding: $base_padding; }
}

.lg-dialog {
  StEntry {
    min-height: 22px;
    selection-background-color: $primary;
    selected-color: $primary-text;
  }

  .shell-link {
    color: $link;
    &:hover { color: lighten($link, 10%); }
    &:active { color: darken($link, 10%); }
   }

  .actor-link {
    color: $text-disabled;
    &:hover { color: $text; }
    &:active { color: $text-secondary; }

    & StIcon { icon-size: 12px; }
   }
}

.lg-completions-text {
  font-size: .9em;
  font-style: italic;
  color: $text-secondary;
}

.lg-obj-inspector-title {
  spacing: $base_spacing;
  color: $text-secondary;
}

.lg-obj-inspector-button {
  padding: 0 16px;
  border: none;
  border-radius: $base_radius;
  @extend %flat_button;

  &:hover { border: none; }
}

// Extensions
#lookingGlassExtensions {
  padding: $base_padding;
  color: $text-secondary;
}

.lg-extensions-list {
  padding: $base_padding;
  spacing: $base_padding;
  color: $text-secondary;
}

.lg-extension {
  border: none;
  border-radius: $base_radius;
  background-color: $fill;
  color: $text-secondary;
  padding: $base_padding * 2;

  &:hover {
    color: $text;
    background-color: $divider;
  }

  &:active {
    color: $text;
    background-color: $track;
  }
}

.lg-extension-name {
  @extend %heading;
}

.lg-extension-meta {
  spacing: $base_spacing;
  color: $text-secondary;
}

// Inspector
#LookingGlassPropertyInspector {
  color: $text-secondary;
  background: $base;
  border: none;
  border-radius: $base_radius;
  padding: $base_padding;
  margin: 5px 8px 11px;
  box-shadow: 0 3px 8px 0 rgba(black, 0.25);
}

.lg-debug-flag-button {
  StLabel { padding: $base_padding, 2 * $base_padding; }

  color: $text-secondary;

  &:hover { color: $text; }
  &:active { color: $text; }
}

.lg-debug-flags-header {
  padding-top: 2 * $base_padding;
  padding: $base_padding;
  @extend %title_2;
}