
// do-not-disturb + clear button
.message-list-controls {
  padding: $base_padding $base_padding $base_padding $base_padding * 5 !important;
  spacing: $base_spacing;
  font-weight: normal;

  .dnd-button {
    font-weight: normal;
  }
}

.message-media-control {
  margin: $base_padding * 3.5 $base_padding;
  padding: $base_padding * 2;
}

// album-art
.media-message-cover-icon {
  padding: 0;

  &.fallback {
    padding: $base_padding;
  }
}
